{% extends "layout.html" %}

{% block title %}
    Book Details and Reviews
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author}}</li>
		<li>Year: {{ book.year }}
    </ul>

    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %}
            <li>{{ review.review_id }}</li>
        {% else %}
            <li>No Reviews.</li>
        {% endfor %}
    </ul>

{% endblock %}
