{% extends "layout.html" %}

{% block title %}
    List of Books
{% endblock %}

{% block body %}
    <h1>All Books</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">ISBN</div>
			<div class="col-md-3">Title</div>
			<div class="col-md-3">Author</div>
			<div class="col-md-3">Year</div>
		</div>
		{% for book in books %}
			<div class="row">
				<div class="col-md-3">
					<a href= "{{ url_for('book', book_id=book.id) }}">
					{{ book.isbn }}
					</a>
				</div>
				<div class="col-md-3">{{ book.title }}</div>
				<div class="col-md-3">{{ book.author }}</div>
				<div class="col-md-3">{{ book.year }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
