{% extends "layout.html" %}

{% block title %}
    Happy Readers Reviews
{% endblock %}

{% block body %}
    <h1 class="text-center">Welcome to Happy Readers Book reviews! Books are Great!</h1>

	<h2 class="text-center">Search For Books</h2>

	<form action="/search" method="post">
		<div class = "form-group">
			<input class="form-control" type="search" placeholder="Search by ISBN, Title, Author" aria-label="Search" name="search">
			
		</div>
		<div class = "form-group">
			<button class="btn btn-primary btn-block" type="submit">Search</button>
		</div>
	</form>
{% endblock %}
