{% extends "layout.html" %}

{% block title %}
    Leave a Review
{% endblock %}

{% block body %}

	<form action="/review" method="post">
		<div class="form-group">
		  <label for="exampleFormControlSelect1">Rate on a Scale of 1 to 5</label>
		  <select class="form-control" id="exampleFormControlSelect1" name = "stars">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		  </select>
		</div>
		
		<div class="form-group">
		  <label for="exampleFormControlTextarea1">What would you like to say?</label>
		  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
		</div>
		
		<div class = "form-group">
			<button class="btn btn-primary" type="submit">Submit Your Review</button>
		</div>
	</form>

{% endblock %}
